.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.column{
    width: 22%;
    margin: auto;
    margin-top: 0;
    background-color: rgb(112, 112, 112);
    border-radius: 4px;
    padding: 8px;
}

.card{
    border: 1px solid black;
    margin-top: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.done{
    background-color: #9af58e;
}
.nodone{
    background-color: #f78888;
}